.body{
    font-family: "Roboto", sans-serif;
}

body:root {
    color: #434455;
    background-color: #FFFFFF;
}

:root{
    text-decoration: none;
}

.head-bg{
    background-color:#FFFFFF;
}

.nav {
    text-decoration: none;
}

.link{
    text-decoration: none;
}

.list{
    text-decoration: none;
}
.nav-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.nav-logo2 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
}





.nav-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}


.nav-link:hover{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404BBF;
}

.nav-link:focus{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404BBF;
}

.header-address {
    font-style: normal;
}

.address-ulist {
    text-decoration: none;
}

.address-link{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.address-link:focus{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404BBF;
}

.address-link:hover{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404BBF;
}


.hero-bg{
    background-color: #2E2F42;
}

.section-1-h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.button1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;

    background-color: #4D5AE5;  
}

.button1:hover{
    background-color: #404BBF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
}

.button1:focus{
    background-color: #404BBF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
}

.section-2-ulist {
    text-decoration: none;
}

.section-2-list {
    text-decoration: none;
}

.section-2-header2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-2-text {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}


.section-3-header2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center
}

.section-3-ulist {
    text-decoration: none;
}

.section-3-list {
    text-decoration: none;
}

.section-4-bg {
    background-color: #F4F4FD
}


.section-4-ulist {
    background-color: #FFFFFF
}

.section-4-list {
    background-color: #FFFFFF
}

.section-4-header3 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-4-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;
}

.footer-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.button2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color: #404BBF;
}

.button {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #4D5AE5;
}

.foto-description {
    text-decoration: none;
}

.paragraf-images {
    text-decoration: none;
}

.p-images {
    text-decoration: none;
}

.footer-logo{
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        color: #F4F4FD;
}
.footer-bg{
    background-color: #2E2F42;
}